section {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    
    
}

section li{
    list-style: none;
    margin-left: 0.25rem;
    font-size: 22pt;
}
h1{
    font-size: 30pt;
    
}
h2{
    font-size: 25pt;
    
}