.driver-page-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.driver-info {
  background-color: "#1F2A40";;
  padding: 10px;
  margin-bottom: 20px;
}

.route-list {
  list-style: none;
  padding: 0;
}

.route-list li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.route-actions button {
  margin-left: 5px;
}

.active-route-details {
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 20px;
}

.route-history {
  margin-bottom: 20px;
}

.chat-box {
  border: 1px solid #ddd;
  padding: 10px;
  max-height: 150px;
  overflow-y: auto;
}

.message {
  margin-bottom: 5px;
}

/* Add more styles as needed */
